body {
    background-image: url(z2.jpg);
    background-size: 100%;
}

div {
    margin-bottom: 5px;
}

img{
    border-radius: 10px;
}


.container {
    border-radius: 10px;
    background-color: #42ffda;
    font-size: 20px;
    font-family: serif;
    color: #255348;
    padding: 1em 0;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 10px;
}

.left {
    float: left;
    padding-left: 20px;
}

.right {
    float: right;
    padding-right: 20px;
}


.center_btn{
    padding-left: 256px;
}


.task-container, .form-container {
    text-align: left;
}

input {
    margin: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
    margin-left: auto;
}

#R, #Y {
    width: 30%;
}

form {
    display: inline-block;
    margin: 10px 40px;
    vertical-align: bottom;
    height: 280px;
}

.answer {
    display: inline-block;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background-color: #333333;
    margin: 10px 40px;
}

.submit {
    width: 165px;
    background: #4bb6a7 !important;
    height: 30px;
    border-radius: 10px;
}

.submit:hover {
    background: #d19a62 !important;
}


.table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid #4bb6a7;
    padding: 5px;
}

#canvas{
    margin-left: 25%;
}
